@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color:#f5f5f0">
    <div class="text-center" style="padding-left:75px">
        <h5 class="display-5" style="padding-left:25px;padding-top:100px;color:darkblue;font-weight:500">Contact Details </h5>
        <p style="padding-left:100px">
            Please feel to contact us at you convience.
        </p>
        <p>
            <i class="fa fa-envelope" aria-hidden="true"></i> Email Id : customerinfo.lms@gmail.com
        </p>
        <p>
            <i class="fa fa-phone" aria-hidden="true"></i> Phone.No : +1 1234567890
        </p>
        <p>
            <i class="fa fa-building" aria-hidden="true"></i> Registered Office Address:
        </p>
        <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i> Other Locations:
        </p>
        @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    </div>
</body>